*
{
    font-family: Verdana;
    padding: 0px;
    margin: 0px;
}

a
{
    text-decoration: none;   
}



#lessIntro
{
    border: 5px solid Blue;
    width: 500px;
    padding: 2em;
    background-color: aqua;
    color: chocolate;
    margin-top: 3em;
}